@model List<Category>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var category in Model)
            {
                <tr>
                    <td>@category.ID</td>
                    <td>@category.Name</td>
                    <td colspan="2">@category.Description</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">No Categories found in the database</td>
            </tr>
        }
    </tbody>
</table>